
@{
    ViewBag.Title = "EditContact";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-9 col-lg-12 col-xl-10">
            <div class="card shadow-lg o-hidden border-0 my-5">
                <div class="card-body p-0">
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h4 class="text-dark mb-4">Add Contact for @ViewBag.ci.company_Name</h4>
                                </div>
                                <form class="user" action="/Contact/EditCompanyContact/@ViewBag.cc.contact_ID" method="post">
                                    <div class="form-group"><input class="form-control form-control-user" type="email" id="exampleInputEmail-2" aria-describedby="emailHelp" placeholder="Enter Email " name="CompanyInfoEmail" value="@ViewBag.cc.company_Email"></div>
                                    <div class="form-group"><input class="form-control form-control-user" type="text" id="exampleInputEmail-3" aria-describedby="emailHelp" placeholder="Enter Phone Number" name="CompanyInfoPhoneNumber" value="@ViewBag.cc.company_PhoneNumber"></div>
                                    <div class="form-group"><input class="form-control form-control-user" type="text" id="exampleInputPassword-2" placeholder="Enter Website" name="CompanyInfoWebsite"  value="@ViewBag.cc.company_Website"></div>
                                    <button class="btn btn-primary btn-block text-white btn-user"
                                            type="submit">
                                        Add Contact
                                    </button>
                                    <hr><a class="btn btn-primary btn-block text-white btn-google btn-user" role="button" style="width: 84px;">Back<br></a>
                                </form>
                                <div class="text-center"></div>
                                <div class="text-center"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



